{% extends "base.html" %}
{% from "macros.html" import scope_toggle, scoped, headline, notices as notice_list, perf_header, perf_cells, chart, scope_charts, monthly_table, terminal, end_of_line, trips_line %}
{% block main %}
<h1>{{ name }} <span class="subtitle">{{ route.route.long_name }}</span></h1>
{{ notice_list(notices) }}
{{ scope_toggle() }}
{% call(scope) scoped() %}
{% set s = route.scopes[scope] %}
{{ headline(s.summary, name) }}
{{ chart(charts.headline_chart(s.summary, name, min_sample), "Early, on time and late") }}
<div class="table-wrap">
<table class="data">
<caption>By direction</caption>
<thead><tr><th scope="col">Direction</th>{{ perf_header() }}</tr></thead>
<tbody>
{% for d in s.by_direction %}
<tr><th scope="row">To {{ d.headsign }}</th>{{ perf_cells(d) }}</tr>
{% endfor %}
</tbody>
</table>
</div>
{{ scope_charts(s, name) }}
<div class="table-wrap">{{ monthly_table(s.monthly) }}</div>
{% for direction in route.stops %}
{% set stops = direction.stops %}
<div class="table-wrap">
<table class="data">
<caption>Stops to {{ stops[-1].name }}, in route order</caption>
<thead><tr><th scope="col">Stop</th>{{ perf_header() }}</tr></thead>
<tbody>
{% for st in stops %}
<tr>
<th scope="row"><a href="/stops/{{ st.code }}/">{{ st.name }}</a>{% if st.timepoint %} <span class="def">Timepoint</span>{% endif %}</th>
{% if loop.last %}
<td class="num" colspan="5"><span class="nodata">Last stop: arrivals only, see end-of-line arrivals</span></td>
{% else %}
{{ perf_cells(st[scope]) }}
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endfor %}
{% endcall %}
<h2>Start and end of trips</h2>
{{ terminal(route.terminal, name) }}
{{ end_of_line(route.end_of_line) }}
<h3>Trips</h3>
{{ trips_line(route.trips) }}
{% endblock %}
