{% extends "base.html" %}
{% from "macros.html" import scope_toggle, scoped, headline, notices as notice_list, perf_header, perf_cells, chart, scope_charts, monthly_table %}
{% block main %}
<h1>{{ stop.stop.name }} <span class="subtitle">Stop {{ stop.stop.code }}</span></h1>
{% if stop_map %}
<p class="see-on-map"><a href="/stops/?stop={{ stop.stop.code }}">Show this stop on the map</a></p>
{% endif %}
{{ notice_list(notices) }}
{{ scope_toggle() }}
{% call(scope) scoped() %}
{% set s = stop.scopes[scope] %}
{% if s is none %}
<p class="not-timepoint">This stop isn't a timepoint, so it has no numbers in this view. Choose "All stops" to see them.</p>
{% else %}
{{ headline(s.summary, "this stop") }}
{{ chart(charts.headline_chart(s.summary, stop.stop.name, min_sample), "Early, on time and late") }}
<div class="table-wrap">
<table class="data">
<caption>By route</caption>
<thead><tr><th scope="col">Route</th>{{ perf_header() }}</tr></thead>
<tbody>
{% for r in s.by_route %}
<tr><th scope="row"><a href="/routes/{{ r.slug }}/">{{ route_names[r.slug] }}</a></th>{{ perf_cells(r) }}</tr>
{% endfor %}
</tbody>
</table>
</div>
{{ scope_charts(s, stop.stop.name) }}
<div class="table-wrap">{{ monthly_table(s.monthly) }}</div>
{% endif %}
{% endcall %}
<p><a href="/stops/">All stops</a></p>
{% endblock %}
